<table class="table table-condensed">
  <tr>
    <th rowspan="2" class="text-center">Дата</th>
    <th rowspan="2" class="text-center">Работа</th>
    <th rowspan="2" class="text-center">Резерв</th>
    <th colspan="4" class="text-center">Ремонт</th>
    <th rowspan="2" class="text-center">Реконструкция</th>
    <th rowspan="2" class="text-center">Остановы</th>
    <th rowspan="2" class="text-center">Пуски</th>
    <th rowspan="2"></th>
  </tr>
  <tr>
    <th class="text-center">Текущий</th>
    <th class="text-center">Аварийный</th>
    <th class="text-center">Капитальный</th>
    <th class="text-center">Средний</th>
  </tr>
  {% for rec in record_list %}
  <tr>
    <td class="text-center">{{ rec.rdate }}</td>
    <td class="text-center">{{ rec.wrk }}</td>
    <td class="text-center">{{ rec.rsv }}</td>
    <td class="text-center">{{ rec.trm }}</td>
    <td class="text-center">{{ rec.arm }}</td>
    <td class="text-center">{{ rec.krm }}</td>
    <td class="text-center">{{ rec.srm }}</td>
    <td class="text-center">{{ rec.rcd }}</td>
    <td class="text-center">{{ rec.down_cnt }}</td>
    <td class="text-center">{{ rec.up_cnt }}</td>
    <td>
      {% include "uptime/partials/_records_actions.html" %}
    </td>
  </tr>
  {% endfor %}
</table>