<table class="table table-condensed">
  <tr>
    <th class="text-center">Дата</th>
    <th class="text-center">Работа</th>
    <th class="text-center">Горячий резерв</th>
    <th class="text-center">Остановы</th>
    <th class="text-center">Пуски</th>
    <th></th>
  </tr>
  {% for rec in record_list %}
  <tr>
    <td class="text-center">{{ rec.rdate|date:"d.m.Y" }}</td>
    <td class="text-center">{{ rec.wrk }}</td>
    <td class="text-center">{{ rec.hrs }}</td>
    <td class="text-center">{{ rec.down_cnt }}</td>
    <td class="text-center">{{ rec.up_cnt }}</td>
    <td>
      {% include "uptime/partials/_records_actions.html" %}
    </td>
  </tr>
  {% endfor %}
</table>