/*! project specific CSS goes here. */
h2 {
    border-bottom: 2px solid maroon; /* Параметры линии под текстом */
    padding-bottom: 5px; /* Расстояние от текста до линии */
   }
.jumbotron {
  padding-top: 8px;
}

.has_data {
  color: gray;
}

.invisible {
  display: none;
}

