{% extends "base.html" %}

{% load uptime_extras %}

{% load staticfiles%}

{% block content %}
    <h2>Журналы</h2>
    <table class="table table-condensed table-hover">
        {% for unit, ident in equipment_list %}
            <tr>
            {% if unit.journal_id %}
                <td>{{ ident|make_ident }}<strong>{{ unit.name }}</strong></td>
                <td><a href="{% url 'uptime:show' unit.journal.id %}" class="btn btn-primary" role="button">журнал</a></td>
            {% else %}
                <td>{{ ident|make_ident }}{{ unit.name }}</td>
                <td></td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}