{% extends "base.html" %}

{% load staticfiles%}

{% block content %}
    <h2>Журнал статистики <strong>{{ journal }}</strong></h2>
    {% if journal.downtime_stat %}
        {% include "uptime/partials/_records_base_and_downtime.html" %}
    {% elif journal.hot_rzv_stat %}
        {% include "uptime/partials/_records_base_and_hotreserv.html" %}
    {% else %}
        {% include "uptime/partials/_records_base.html" %}
    {% endif %}

    {% if not journal.stat_by_parent %}
        <a href="{% url 'uptime:record_new' journal.id %}" class="btn btn-primary">Добавить запись</a><br />
    {% endif %}
{% endblock content %}
