{% extends "base.html" %}

{% load staticfiles%}

{% block content %}
    <h3>Журнал статистики {{ journal.equipment }}</h3>
    <table class="table table-condensed">
        {% if journal.downtime_stat %}
            <tr>
                <th rowspan="2" class="text-center">Дата</th>
                <th rowspan="2" class="text-center">Работа</th>
                <th rowspan="2" class="text-center">Резерв</th>
                <th colspan="4" class="text-center">Ремонт</th>
                <th rowspan="2" class="text-center">Реконструкция</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th class="text-center">Текущий</th>
                <th class="text-center">Аварийный</th>
                <th class="text-center">Капитальный</th>
                <th class="text-center">Средний</th>
            </tr>
            {% for rec in record_list %}
            <tr>
                <td class="text-center">{{ rec.date }}</td>
                <td class="text-center">{{ rec.work }}</td>
                <td class="text-center">{{ rec.rsv }}</td>
                <td class="text-center">{{ rec.trm }}</td>
                <td class="text-center">{{ rec.arm }}</td>
                <td class="text-center">{{ rec.krm }}</td>
                <td class="text-center">{{ rec.srm }}</td>
                <td class="text-center">{{ rec.rcd }}</td>
            </tr>
            {% endfor %}
        {% elif journal.hot_rzv_stat %}
            <tr>
                <th class="text-center">Дата</th>
                <th class="text-center">Работа</th>
                <th class="text-center">Горячий резерв</th>
                <th></th>
            </tr>
            <tr>
                <td class="text-center">{{ rec.date }}</td>
                <td class="text-center">{{ rec.work }}</td>
                <td class="text-center">{{ rec.hrs }}</td>
            </tr>
        {% else %}
            <tr>
                <th class="text-center">Дата</th>
                <th class="text-center">Работа</th>
                <th></th>
            </tr>
            <tr>
                <td class="text-center">{{ rec.date }}</td>
                <td class="text-center">{{ rec.work }}</td>
            </tr>
        {% endif %}
    </table>
{% endblock content %}
