{% extends "base.html" %}

{% load uptime_extras %}

{% load staticfiles%}

{% block head_ext %}
  {{ form.media }}
{% endblock head_ext %}

{% block content %}
    <h2>Последние записи статистики <strong>{{ journal }}</strong></h2>
    {% if journal.downtime_stat %}
        {% include "uptime/partials/_records_base_and_downtime.html" %}
    {% elif journal.hot_rzv_stat %}
        {% include "uptime/partials/_records_base_and_hotreserv.html" %}
    {% else %}
        {% include "uptime/partials/_records_base.html" %}
    {% endif %}

    {% if not journal.stat_by_parent and perms.uptime.create_journal_record%}
        <a href="{% url 'uptime:record_new' journal.id %}" class="btn btn-primary">Добавить запись</a><br />
    {% endif %}
    <br />
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'uptime:journal_description_update' journal.id %}" method="POST" id="description-form">
                {% csrf_token %}
                <textarea rows="10" cols="60" id="description-field" name="description" 
                {% if user.is_authenticated %}
                    {% if not perms.uptime.update_journal_description %}
                        readonly
                    {% endif %}
                {% else %}
                    readonly
                {% endif %}
                 >{{ journal.description }}</textarea>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Записи событий</h3>
            <table class="table table-condensed">
                <tr>
                    <th>Дата</th>
                    <th>Событие</th>
                    <th></th>
                </tr>
                {% for event in event_list %}
                    <tr>
                        <td>{{ event.date|date:"d.m.Y" }}</td>
                        <td>{{ event.event_code|human_event }}</td>
                        <td>
                            {% if user.is_authenticated and perms.uptime.delete_journal_event %}
                            <a href="{% url 'uptime:event_delete' journal.id event.id %}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if user.is_authenticated and perms.uptime.create_journal_event %}
                <form action="{% url 'uptime:event_new' journal.id %}" method="post" class="form-inline">
                    {% csrf_token %}
                    {{ form }}
                <input type="submit" value="Добавить" class="btn btn-primary"/>
                </form>
            {% endif %}
        </div>
    </div>
    <br />
    <p>
        <a href="{% url 'uptime:index' %}" class="btn btn-default active" role="button">К журналам</a>
        {% if perms.uptime.create_journal_record %}
        <a href="{% url 'uptime:records_on_date' %}" class="btn btn-default active" role="button">К вводу на дату</a>
        {% endif %}
        <a href="{% url 'uptime:records' journal.id %}" class="btn btn-default active" role="button">Архив записей</a>
    </p>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
  $(document).ready(function() {
    $("#description-field").change(function(e) {
      e.preventDefault();
      f = $("#description-form");
      $.ajax({
        data: $(f).serialize(),
        type: $(f).attr("method"),
        url: $(f).attr("action")
      });
      return false;
    });
  });
    </script>
{% endblock javascript %}

